[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = link to Rstudio
[access "refs/*"]
	owner = group user/subhajit26
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/subhajit26
	label-Verified = -1..+1 group user/subhajit26
	push = group user/subhajit26
	read = group user/subhajit26
	rebase = group user/subhajit26
	removeReviewer = group user/subhajit26
	submit = group user/subhajit26
[access "refs/heads/*"]
	create = group user/subhajit26
	push = +force group user/subhajit26
	pushMerge = group user/subhajit26
	read = group user/subhajit26
[access "refs/tags/*"]
	push = group user/subhajit26
	push = +force group user/subhajit26
